:host {
  display: flex;
  align-items: center;
}

.block-1 {
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  color: var(--White);

  &:first-child {
    margin-left: 0;
  }

  &.isNotStarted {
    background-color: var(--Red);
  }

  &.isInProgress {
    background-color: var(--Blue);
  }

  &.isCompleted {
    background-color: var(--Green);
  }
}
