@import "../../../../../../../styles/includes";
mat-accordion {
  mat-expansion-panel {
    margin: 4px 0;

    mat-expansion-panel-header {
      background-color: $LightGrey !important;
      align-items: flex-start;

      &.isBestPricePoint {
        background-color: $Pastel !important;
        &:hover {
          background-color: $Pastel !important;
        }
      }

      &:hover {
        background-color: $LightGrey !important;
      }
    }
  }
}

mat-panel-description {
  align-items: flex-start;
}

.block-1 {
  padding-top: 20px;
  padding-left: 18px;

  .text-1 {
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;

    @include media-breakpoint-mobile-down {
      font-size: 16px;
      line-height: 19px;
    }
  }

  .text-2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;

    @include media-breakpoint-mobile-down {
      font-size: 14px;
      line-height: 17px;
      margin-top: 13px;
    }
  }
}

.block-2 {
  margin-top: 25px;
  margin-right: 23px;

  .text-1 {
    color: $Black;
    font-size: 16px;
    line-height: 19px;
    margin-right: 24px;

    @include media-breakpoint-mobile-down {
      font-size: 14px;
      line-height: 17px;
      margin-right: 0;
      text-align: right;
      margin-top: 13px;
    }
  }

  @include media-breakpoint-mobile-down {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

app-table {
  margin-top: 4px;
}


.text-best-price {
  background-color: var(--Teal);
  font-size: 10px;
  line-height: 12px;
  padding: 2px 8px;
  margin-top: 24px;
  font-weight: 600;
  color: var(--White);
}
