<div class="d-flex flex-column align-items-center block-1">
  <span class="text-1">Your property list is empty.</span>
  <span class="text-2"
    >Let’s get started to evaluate your property for the first time to get
    quickly and efficiently price the market.</span
  >
  <img
    src="../../../../../../../../../assets/images/property-empty.svg"
    alt="property empty"
    class="img-1"
  />

  <app-button
    iconLeft="../../../../../../../../../assets/icons/plus-small-Teal.svg"
    iconLeftHover="../../../../../../../../../assets/icons/plus-small-Teal.svg"
    type="secondary"
    size="small"
    class="btn-1"
    routerLink="/main/property/new"
    >Add New Property</app-button
  >
</div>
