@import "../../../styles/includes";

:host {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.img-1-container {
  position: absolute;
  top: 312px;
  left: 0;
  overflow: hidden;
  z-index: -1;

  .img-1 {
    margin-left: -93px;

    @include media-breakpoint-tablet-down {
      margin-left: -96px;
    }

    @include media-breakpoint-mobile-down {
      margin-left: auto;
      margin-right: -55px;
    }
  }

  @include media-breakpoint-tablet-down {
    top: 681px;
  }

  @include media-breakpoint-mobile-down {
    right: 0;
    left: auto;
    top: 359px;
  }
}

.bg {
  background-color: $Pastel;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 882px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 81%, 0 100%, 0 0);
  z-index: -1;
  pointer-events: none;
  opacity: 0.9;

  @include media-breakpoint-tablet-down {
    height: 100%;
    clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 0);
  }

  @include media-breakpoint-mobile-down {
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0 100%, 0 0);
  }
}

.block-1 {
  min-height: 800px;
  padding-top: 88px;
  margin-left: 73px;
  box-sizing: border-box;

  @include media-breakpoint-tablet-down {
    padding-top: 111px;
    margin-left: 58px;
  }

  @include media-breakpoint-mobile-down {
    padding-top: 31px;
    margin-left: 18px;
  }
}

.block-2 {
  position: absolute;
  top: 195px;
  left: 693px;
  width: calc(100% - 693px);
  display: flex;
  justify-content: center;

  @include media-breakpoint-tablet-landscape-down {
    left: 0;
    top: 250px;
    justify-content: flex-end;
    width: calc(100% - 50px);
  }

  @include media-breakpoint-tablet-down {
    top: 307px;
    width: 100%;
    left: 0;
    justify-content: center;
  }

  @include media-breakpoint-mobile-down {
    top: 110px;
  }
}

app-bottom-links {
  margin-left: 60px;
  margin-top: 28px;
  margin-bottom: 12px;

  @include media-breakpoint-tablet-down {
    margin-left: 16px;
  }

  @include media-breakpoint-mobile-down {
    margin-left: 0;
  }
}

.img-2 {
  margin-top: -60px;
  margin-bottom: -60px;
  margin-left: -61px;
  width: 557px;
  height: 290px;

  @include media-breakpoint-tablet-down {
    margin-top: -43px;
    margin-bottom: -43px;
    margin-left: -64px;
    width: 393px;
    height: 206px;
  }

  @include media-breakpoint-mobile-down {
    margin-top: -29px;
    margin-bottom: -29px;
    margin-left: -29px;
    width: 239px;
    height: 130px;
  }
}

app-button-box {
  position: absolute;
  top: 38px;
  right: 198px;

  @include media-breakpoint-tablet-down {
    top: 30px;
    right: 75px;
  }

  @include media-breakpoint-mobile-down {
    top: 31px;
    right: 29px;
  }
}
