@import "../../../../../styles/includes";

:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.isNotStarted {
    .dot {
      background-color: $Red;
    }
  }
  &.isInProgress {
    .dot {
      background-color: $Blue;
    }
  }
  &.isCompleted {
    .dot {
      background-color: $Green;
    }
  }
}

.dot {
  width: 22px;
  height: 22px;
  border-radius: 100%;
}
