<div
  class="d-flex justify-content-between align-items-center full-width hide-mobile mb-16"
>
  <app-input-field
    class="search-field"
    placeholder="Search by user or property name"
    prefixImage="../../../../../../../assets/icons/search-Black.svg"
    [noLabel]="true"
    [formControl]="searchFormControl"
  ></app-input-field>

  <div class="d-flex hide-tablet">
    <div class="status red-status">Not Started</div>
    <div class="status blue-status">In progress</div>
    <div class="status green-status">Completed</div>
  </div>

  <app-select-field
    [options]="sortBy"
    [formControl]="sortByFormControl"
    [noLabel]="true"
    leftLabel="Sort by"
    class="sort-by-field"
  ></app-select-field>

  <app-view-as-toggle></app-view-as-toggle>
</div>

<div class="d-flex hide-desktop show-tablet mb-16">
  <div class="status red-status">Not Started</div>
  <div class="status blue-status">In progress</div>
  <div class="status green-status">Completed</div>
</div>

<div
  class="d-flex justify-content-between align-items-center full-width hide-desktop show-mobile mb-16"
>
  <app-input-field
    class="search-field"
    placeholder="Search by user or property name"
    prefixImage="../../../../../../../assets/icons/search-Black.svg"
    [noLabel]="true"
  ></app-input-field>

  <app-select-field
    [options]="sortBy"
    [formControl]="sortByFormControl"
    [noLabel]="true"
  ></app-select-field>
</div>

<app-table
  class="hide-mobile"
  [loading]="isLoading"
  [sortable]="sortable"
  [inputDatas]="tableDatas"
  [displayedColumns]="displayedColumns"
  [expandRowTemplate]="
    previousScreenSize === 'tablet' ? expandRowTemplate : undefined
  "
  [paginationData]="paginationData"
  theme="admin"
  (paginationChange)="paginationChange($event)"
  (sortChange)="sortChange($event)"
  (onExpand)="onExpand($event)"
>
</app-table>

<app-user-and-properties-grid
  [loading]="isLoading"
  [tableDatas]="tableDatas"
  [paginationData]="paginationData"
  *ngIf="previousScreenSize === 'mobile'"
  (paginationChange)="paginationChange($event)"
></app-user-and-properties-grid>

<ng-template #expandRowTemplate>
  <div class="d-flex align-items-center block-1">
    <div class="d-flex">
      <span class="text-1"># Properties </span>
      <span class="text-2">2</span>
    </div>
    <div class="d-flex">
      <span class="text-1">ID</span>
      <span class="text-2">87531</span>
    </div>
    <div class="d-flex">
      <span class="text-1">Last Login</span>
      <span class="text-2">Today, 3.10PM | 25 min</span>
    </div>
  </div>
</ng-template>
