<div class="container">
  <img
    class="bg active hide-mobile"
    src="../../../../../../assets/images/bg-quote.png"
    alt="bg"
  />
  <img
    class="bg inactive hide-mobile"
    src="../../../../../../assets/images/bg-quote-inactive.png"
    alt="bg"
  />

  <img
    class="bg active hide-desktop show-mobile"
    src="../../../../../../assets/images/bg-quote.png"
    alt="bg"
  />
  <img
    class="bg inactive hide-desktop show-mobile"
    src="../../../../../../assets/images/bg-quote-inactive.png"
    alt="bg"
  />

  <div class="content" *ngIf="whatYourCustomerSayItem">
    <span class="text-1">{{ whatYourCustomerSayItem.fields.text }} </span>
    <div
      class="bottom d-flex justify-content-between block-1 align-items-center"
    >
      <div class="d-flex flex-column">
        <span class="h5 font-bold text-2">{{
          whatYourCustomerSayItem.fields.name
        }}</span>
        <span class="h5">{{
          whatYourCustomerSayItem.fields.organization
        }}</span>
      </div>
      <img
        [src]="whatYourCustomerSayItem.fields.avatar.fields.file.url"
        [alt]="whatYourCustomerSayItem.fields.avatar.fields.title"
        class="avatar"
      />
    </div>
  </div>
</div>
