<div class="bg wrap-all"></div>

<div class="d-flex align-items-start block-1">
  <img class="img-1 hide-tablet" src="../../../../../assets/images/logo-footer-big.svg" alt="logo" />
  <img class="img-1 hide-desktop show-tablet hide-mobile" src="../../../../../assets/images/logo-footer-tablet.svg" alt="logo" />
  <img class="img-1 hide-desktop show-mobile" src="../../../../../assets/images/logo-footer-mobile.svg" alt="logo" />

  <div class="d-flex block-2 align-items-center flex-wrap">
    <app-button
      class="btn-1"
      [shouldIgnoreHover]="true"
      type="basic"
      size="small"
      color=""
      >HOME</app-button
    >
    <app-button
      class="btn-1"
      [shouldIgnoreHover]="true"
      type="basic"
      size="small"
      color=""
      routerLink="/landing-menu/about-us"
      >ABOUT US</app-button
    >
    <app-button
      class="btn-1"
      [shouldIgnoreHover]="true"
      type="basic"
      size="small"
      color=""
      >CONTACT US</app-button
    >
  </div>
</div>

<app-bottom-links></app-bottom-links>
