@import "../../../styles/includes";

:host {
  position: fixed;
  top: 130px;
  right: 51px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.1);
  width: 320px;
  box-sizing: border-box;
  padding: 26px 30px 35px;

  @include media-breakpoint-tablet-down {
    display: none;
  }
}

.block-2 {
  counter-reset: section;
  position: relative;
  margin-bottom: 23px;

  .text-2 {
    font-size: 16px;
    line-height: 19px;
    margin-top: 26px;
    margin-bottom: 4px;
    position: relative;
    font-weight: bold;
  }

  .block-1 {
    margin-top: 12px;

    .img-1 {
      margin-right: 11px;
      margin-top: 4px;
    }

    .text-3 {
      font-size: 13px;
      line-height: 16px;
    }
  }
}

app-button {
  margin-top: 14px;
}
