<div class="d-flex align-items-center justify-content-between block-1">
  <span class="text-1">Latest Leads</span>
  <button class="button text-2">See All Leads</button>
</div>

<div class="d-flex block-2">
  <div class="text-3">JL</div>
  <div class="d-flex flex-column block-3">
    <span class="text-4 ellipsis" title="Jane Lastname">Jane Lastname</span>
    <span class="text-5 ellipsis" title="janelastname@email.com">janelastname&#64;email.com</span>
    <span class="text-6 ellipsis" title="2 hours ago">2 hours ago</span>
  </div>
</div>

<div class="d-flex block-2">
  <div class="text-3">TP</div>
  <div class="d-flex flex-column block-3">
    <span class="text-4 ellipsis" title="Terry Patterson">Terry Patterson</span>
    <span class="text-5 ellipsis" title="tpatterson@email.com">tpatterson&#64;email.com</span>
    <span class="text-6 ellipsis" title="5 hours ago">5 hours ago</span>
  </div>
</div>
