<div *ngFor="let item of tableDatas" class="d-flex flex-column block-item">
  <div class="d-flex align-items-center justify-content-between block-header">
    <span class="text-1">{{ item.name }}</span>
    <app-evaluation-status
      [evaluationStatus]="item.evaluationStatus"
    ></app-evaluation-status>
  </div>

  <div class="block-2">
    <div class="d-flex flex-column align-items-start block-4">
      <span class="text-3">Location</span>
      <span class="text-2">{{ item.location }}</span>
    </div>
    <div class="d-flex flex-column align-items-start block-4">
      <span class="text-3"># of Leads</span>
      <span class="text-2">{{ item.leads || "-" }}</span>
    </div>
    <div class="d-flex flex-column align-items-start block-4">
      <span class="text-3">Best Price Point</span>
      <span class="text-2">{{ item.bestPricePoint || "-" }}</span>
    </div>
  </div>

  <div class="d-flex justify-content-center block-3 hide-mobile">
    <app-button
      [shouldIgnoreHover]="true"
      iconLeft="../../../../../../../../../../assets/icons/eye-Teal.svg"
      type="basic"
      size="very-small"
      color="primary"
      [routerLink]="['/main/property/view', item.id]"
      >View</app-button
    >
    <app-button
      [shouldIgnoreHover]="true"
      iconLeft="../../../../../../../../../../assets/icons/trash-Red.svg"
      type="basic"
      size="very-small"
      color="warn"
      >Delete</app-button
    >
  </div>
</div>
