<div class="container">
  <div class="bg"></div>

  <img
    src="../../../../../assets/images/stair-path-2.svg"
    alt="stair path"
    class="img-1 hide-tablet"
  />
  <img
    src="../../../../../assets/images/stair-path-2-tablet.svg"
    alt="stair path"
    class="img-1 show-tablet hide-desktop"
  />

  <div class="animate-point point-29" order="29" type="bounce" duration="0.5"></div>
  <div class="animate-point point-30" order="30" type="bounce" duration="0.5"></div>
  <div class="animate-point point-31" order="31" duration="0.3" bounceY="-20"></div>

  <swiper
    *ngIf="whatYourCustomerSay.length"
    [slidesPerView]="'auto'"
    [spaceBetween]="0"
    [centeredSlides]="true"
    [loop]="true"
    [pagination]="{
      clickable: true
    }"
    class="mySwiper"
    [breakpoints]="{
      '576': {
        spaceBetween: 50
      },
      '992': {
        spaceBetween: 90
      }
    }"
  >
    <ng-template *ngFor="let item of whatYourCustomerSay" swiperSlide
      ><app-customer-say-item
        [whatYourCustomerSayItem]="item"
      ></app-customer-say-item
    ></ng-template>
  </swiper>
</div>
