@import "../../../styles/includes";

:host {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;

  @include selfBreakPointHideShow;

  &.theme-admin {
    table {
      ::ng-deep {
        thead {
          tr.mat-header-row {
            height: 46px;

            th.mat-header-cell {
              border-bottom-width: 0;
              background-color: $LightGrey;
            }
          }
        }

        tbody {
          tr.mat-row {
            min-height: 45px;

            td.mat-cell {
              border-bottom-width: 1px;
            }

            &.expand-detail-row {
              height: 0;

              td.mat-cell {
                border-bottom-width: 0;

                &.isExpanded {
                  border-bottom-width: 1px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.table-container {
  overflow: auto;
  max-height: 684px;
}

table {
  width: 100%;
  box-shadow: none;

  ::ng-deep {
    thead {
      tr.mat-header-row {
        height: 58px;

        th.mat-header-cell {
          border-bottom-width: 8px;
          border-bottom-color: $LightGrey;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 12px;
          color: $TealDark;
          padding-left: 5px;
          padding-right: 5px;

          &:first-of-type {
            padding-left: 24px;
          }

          .mat-sort-header-arrow[style] {
            // Hide default arrow stem
            .mat-sort-header-stem {
              display: none;
            }
            .mat-sort-header-indicator {
              opacity: 1;
              color: black;
              font-weight: bold;

              // Hide default arrow as its composed of left, right and middle
              .mat-sort-header-pointer-left,
              .mat-sort-header-pointer-right,
              .mat-sort-header-pointer-middle {
                display: none;
              }
            }
          }

          // My custom ascending arrow
          &[aria-sort="ascending"] {
            ::ng-deep .mat-sort-header-arrow {
              .mat-sort-header-indicator {
                &::before {
                  content: "";
                  top: 0;
                  position: absolute;
                  width: 0;
                  height: 0;
                  border-left: 4px solid transparent;
                  border-right: 4px solid transparent;
                  border-bottom: 4px solid $Teal;
                }
              }
            }
          }

          // My custom descending arrow
          &[aria-sort="descending"] {
            ::ng-deep .mat-sort-header-arrow {
              .mat-sort-header-indicator {
                &::before {
                  content: "";
                  top: -6px;
                  position: absolute;
                  width: 0;
                  height: 0;
                  border-left: 4px solid transparent;
                  border-right: 4px solid transparent;
                  border-top: 4px solid $Teal;
                }
              }
            }
          }
        }
      }
    }

    tbody {
      tr.mat-row {
        min-height: 48px;

        td.mat-cell {
          border-bottom-width: 4px;
          border-bottom-color: $LightGrey;
          font-size: 13px;
          padding-left: 5px;
          padding-right: 5px;
          font-weight: 500;

          &:first-of-type {
            padding-left: 24px;
          }

          &.isAlignRight {
            text-align: right;
          }

          &.isExpandable {
            cursor: pointer;
          }

          &.isExpanded {
            border-bottom-width: 0;
          }

          &.expand-cell {
            padding: 0;
          }

          &.showExpandArrowDown {
            position: relative;
            padding-left: 35px;

            &.showExpandArrowUp {
              &::before {
                transform: scale(1, -1);
              }
            }

            &::before {
              content: "";
              width: 14px;
              height: 8px;
              display: flex;
              position: absolute;
              top: calc(50% - 4px);
              left: 5px;
              background-image: url(../../../assets/icons/arrow-down.svg);
            }
          }
        }

        &.expand-detail-row {
          height: 0;

          td.mat-cell {
            border-bottom-width: 0;

            &.isExpanded {
              border-bottom-width: 4px;
            }
          }
        }
      }
    }
  }
}

.cell-text {
  white-space: pre;
}

app-pagination {
  margin-top: 20px;
}
